<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SocketIO Client</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.3.1/socket.io.js"></script>
  </head>
  <body>
    <h1>SocketIO Client</h1>
    <script>
      const socket = io.connect({
        extraHeaders: {
          user: "24ypnzcuqmy",
        },
      });

      // Event handler for successful connection
      socket.on("connect", () => {
        console.log(socket.id);
      });

      // Event handler for receiving messages from server
      socket.on("message", (data) => {
        console.log("Message from server:", data);

        socket.emit("delivered", {
          id: data.id,
          sender: data.sender,
          receiver: data.receiver,
        });
      });

      socket.on("delivered", (data) => {
        console.log("Message delivered id: ", data);
      });

      // Example of sending a message to the server
      function sendMessage() {
        const message = document.getElementById("messageInput").value;
        socket.emit("message", {
          id: Math.random().toString(36).substring(2, 15),
          chatId: "chat",
          sender: "24ypnzcuqmy",
          receiver: "c7znmd1nzwd",
          content: message,
          timestamp: new Date().toISOString(),
        });
      }
    </script>

    <!-- Example input and button to send a message -->
    <div>
      <input type="text" id="messageInput" placeholder="Enter message" />
      <button onclick="sendMessage()">Send Message</button>
    </div>
  </body>
</html>
